<header>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">🦊</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">

					<!-- <li class="nav-item">
						<a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
							<app-icons icon="home"></app-icons> Home
						</a>
					</li> -->

					<div *ngFor="let default of defaultRoutes">
						<li class="nav-item">
							<a class="nav-link" [routerLink]="default.path" routerLinkActive="active"
								ariaCurrentWhenActive="page">
								<app-icons icon="{{default.title}}"></app-icons> {{default.title}}
							</a>
						</li>
					</div>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞
						</a>
						<ul class="dropdown-menu">

							<div *ngFor="let test of testRoutes">
								<li>
									<a class="dropdown-item" [routerLink]="test.path" routerLinkActive="active"
										ariaCurrentWhenActive="page">
										<app-icons icon="{{test.title}}"></app-icons> {{test.title}}
									</a>
								</li>
							</div>

							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<a class="dropdown-item" routerLink="/oeps" routerLinkActive="active">
									<app-icons icon="x"></app-icons> Oeps
								</a>
							</li>
						</ul>
					</li>


					<div *ngFor="let product of productRoutes">
						<li *ngIf="product.title != 'Products-id'" class="nav-item">
							<a class="nav-link" [routerLink]="product.path" routerLinkActive="active"
								ariaCurrentWhenActive="page">
								<app-icons icon="?"></app-icons> {{product.title}}
							</a>
						</li>
					</div>

				</ul>
			</div>
		</div>
	</nav>
</header>