// @import "../../../../styles/default_import";
// @import "../../../../styles/base/colors";

// @import "../../../../styles/default_import";

@import "../../../../styles/abstracts/vars_colors";
@import "../../../../styles/abstracts/variables";
// @import "../../../../styles/base/colors";

.rounded-color {
	width: 100px;
	height: 100px;
	width: 6.25rem;
	height: 6.25rem;
	border-radius: 100% 10% 100% 100%;
	margin: auto;
	border: 1px rgba(0, 0, 0, 0.2) solid;
	box-shadow: $box-shadow-regular;
}
