<app-hero img="https://picsum.photos/seed/hero2/1024/900/" title="This is an hero" body="Something clever"
	cta_text="Click me" cta_url="/products"></app-hero>

<section class="container">
	<h2>{{title}}</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ex orci. Phasellus magna ante, ullamcorper non
		leo in, fermentum efficitur felis. Donec vitae mattis erat. Sed vel odio arcu. Praesent porta nulla et sapien
		interdum, id placerat leo semper. Mauris eget consequat sem. Suspendisse tincidunt et est sit amet laoreet.
		Vivamus nec rutrum enim. In malesuada nibh non tempor imperdiet. In dignissim, felis in tincidunt consequat,
		metus augue euismod diam, ut eleifend turpis nisi vitae ipsum. Nulla mattis, magna at convallis mattis, sem
		justo viverra ligula, maximus dignissim dolor nunc id arcu. Nullam auctor, ligula ac cursus lobortis, sapien
		mauris lacinia felis, in ultrices mi dolor quis arcu. Vivamus iaculis tincidunt lobortis. In hac habitasse
		platea dictumst.</p>
</section>

<section class="container">
	<h4>Scaffold Bootstrap/Bootstrap icons/Ficons</h4>
	<p><i class="fa fa-magic"></i> fa fa-magic <a href="https://ficons.fiction.com/" target="_blank">ficons</a></p>
	<p><i class="bi-alarm"></i> bi-alarm <a href="https://icons.getbootstrap.com/" target="_blank">bootstrap icons</a>
	</p>
</section>